/* Common styling */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: orange;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: "Playwrite GB S", cursive;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
}

/* Hire Me form styling */
.hire-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    text-align: left;
}

.hire-form label {
    font-size: 16px;
    color: #333;
}

.hire-form input,
.hire-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.hire-form button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.hire-form button:hover {
    background-color: orange;
}